.banners {
    display: block;
    height:800px !important;
    width: 100%;
    height: auto;
}

.carousel-caption{
  margin-bottom: 20%;
}

.banner-caption{
  color: black;
}

.banner-caption h5{
  font-size: 64px;
  font-weight: bold;
}

.banner-caption p{
  font-size: 24px;
}

.card-fitur{
  width: 100%;
  height: 12rem;
  background-color: #FF7B7B;
  border-radius: 15px;
}

.card-text{
  font-weight: bold;
  font-size: 25px;
  color: black;
}

.footer-landing{
   background-color: #FF5252;
   height: 100%;
}

.footer-landing h5{
  font-size: 32px;
  color: white;
  font-weight: bold;
}

.form-card-section{
  background-image: url('../img/bg.svg');
  background-repeat: none;
  background-size: cover;
  background-position: top;
  min-height: 800px;
}

.form-card-section .card{
  background:transparent;
  border: none;
}

.form-card-section input{
  border-radius: 50px;
}

.form-card-section form{
  margin: 0px 30%;
}

.form-card-section button{
  border-radius: 15px;
  background: white;
  color: black;
  border: none;
}
